<nav class="top-navbar">
    <div class="top-navbar__inner">
        <a class="top-navbar__brand" href="/">✈️ Eric 的海外日記</a>
        <ul class="top-navbar__menu">
            {{ range .Site.Menus.navbar }}
                {{ if not .Parent }}
                <li class="top-navbar__item top-navbar__item--{{ .Identifier }} {{ if .HasChildren }}has-dropdown{{ end }}">
                    <a href="{{ if .URL }}{{ .URL }}{{ else }}#{{ end }}">{{ .Name }}</a>
                    {{ if .HasChildren }}
                    <ul class="top-navbar__dropdown">
                        {{ range .Children }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
</nav>
